* {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #305647;
  font-size: 17px;
  color: white;
}

#christmas h1 {
  margin: 30px auto 0 auto;
  animation: bounce 0.3s ease 3;
  transition: all;
}

@keyframes bounce {
  50% {
    transform: scale(80%);
  }
}

#christmas p {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: url(../images/christmas-market.jpg);
  height: 400px;
  padding-top: 60px;
  padding-bottom: 60px;
}

header > h1,
footer > h2,
footer > p {
  text-align: center;
  padding: 15px;
}

article {
  width: 350px;
  border: 4px solid white;
  border-radius: 8px;
  margin: 10px 12px;
  text-align: left;
}

article > h2 {
  padding: 8px;
}

article:first-of-type {
  background-color: #b59b7b;
  opacity: 0.9;
}

#inprogress {
  background-color: #832831;
  opacity: 0.9;
}

#done {
  background-color: #bf9645;
  opacity: 0.9;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 6px 8px;
}

input {
  margin-right: 5px;
}

.todo_list li:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}

.inprogress_list li:nth-child(odd) {
  background-color: rgba(255, 0, 0, 0.2);
}

.done_list li:nth-child(odd) {
  background-color: rgba(255, 232, 140, 0.2);
}

input[type="checkbox"]:checked + span::after {
  content: "🎄";
  margin-left: 5px;
}

.decorated-heading::after {
  content: "\2744";
  color: skyblue;
  margin-left: 5px;
}

footer h2 {
  margin-top: 20px;
}
